.container {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 10% 25% 65%;
    height: 100vh;
}

//search navigation box
.weather-nav-display {
    // position: fixed;
    grid-row: 1/4;
    height: 100vh;
    width: 100%;
}
.temp-box {
    margin: 0 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
//hero page
.weather-display {
    grid-row: 1/4;
    display: grid;
    grid-template-rows: 10% 90%;
}

.weather-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // height: 10vh;
}

.weather-details {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 100%;
    gap: 10px;
}
.weather-unit-display {
    .unit {
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}
.forcast-display {
    display: flex;
    flex-wrap: wrap;
    // overflow-x: hidden;
    justify-content: space-between;
    align-items: center;
    gap: 26px;
    // height: 100%;
}

.highlight-box {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 328px 328px;
    grid-template-rows: 200px auto;
    gap: 48px;
}

.highlight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
