@media screen and (max-width: 1200px) {
    .container {
        display: block;
        grid-template-columns: none;
        grid-template-rows: none;
    }
    .weather-display {
        display: block;
        height: 100vh;
    }
    .weather-unit-display {
        display: none;
    }
    .forcast-display {
        padding: 52px 55px;
        justify-content: space-evenly;
    }
    .highlight-box {
        display: block;
        grid-template-columns: none;
        grid-template-rows: none;
    }
    .highlight {
        margin-bottom: 48px;
    }
    .detailed-display {
        padding: 50px;
    }
}
