* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.weather-nav-display {
  position: fixed;
  height: 100vh;
  width: 100%;
}

.temp-box {
  margin: 0 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.weather-display {
  height: 100vh;
}

.weather-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10vh;
}

.weather-details {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 90vh;
}

.forcast-display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 26px;
}

.detailed-display {
  display: -ms-grid;
  display: grid;
  place-items: center;
  padding-bottom: 124px;
}

.highlight-box {
  display: -ms-grid;
  display: grid;
  place-items: center;
  -ms-grid-columns: 300px;
      grid-template-columns: 300px;
  gap: 32px;
}

.highlight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: #1e213a;
}

a {
  text-align: center;
  color: #e7e7eb;
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 0 auto;
}

p {
  color: #e7e7eb;
  text-align: center;
}

h1 {
  font-size: 144px;
  color: #e7e7eb;
  font-weight: 500;
  margin: 0 auto;
  text-align: center;
}

h1 span {
  font-size: 44px;
  font-weight: 100;
  font-family: "Raleway", sans-serif;
}

h2,
h3,
span {
  margin: 0 auto;
  color: #a09fb1;
}

h2 {
  font-weight: 600;
  font-size: 36px;
}

h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}

.text-center {
  text-align: center;
}

#w-wind,
#w-humidity,
#w-visibility,
#w-pressure {
  font-size: 64px;
}

#w-direction {
  color: #e7e7eb;
  -webkit-transition: all 2s ease-in;
  transition: all 2s ease-in;
}

#date {
  color: #e7e7eb;
}

.weather-nav-display {
  display: none;
  padding: 60px 12px;
  background-color: #1e213a;
}

.weather-nav-display .nav-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}

.weather-nav-display .nav-form input {
  padding-left: 5px;
  color: #e7e7eb;
  width: 86px;
  height: 48px;
  border: 1px #e7e7eb solid;
  outline: none;
  background-color: #1e213a;
  outline: #a09fb1;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.weather-nav-display .nav-form input::-webkit-input-placeholder {
  padding-left: 15px;
  color: #616475;
}

.weather-nav-display .nav-form input:-ms-input-placeholder {
  padding-left: 15px;
  color: #616475;
}

.weather-nav-display .nav-form input::-ms-input-placeholder {
  padding-left: 15px;
  color: #616475;
}

.weather-nav-display .nav-form input::placeholder {
  padding-left: 15px;
  color: #616475;
}

.weather-nav-display .nav-form button {
  border: none;
  outline: none;
  height: 48px;
  width: 86px;
  color: #e7e7eb;
  background-color: #3c47e9;
}

.weather-nav-show {
  display: block;
}

#close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
}

.weather-box {
  padding: 18px 11px;
}

.weather-display {
  background-color: #1e213a;
}

.weather-location {
  padding: 0.5rem;
  background-color: #6e707a;
}

.weather-location a {
  color: #e7e7eb;
}

.weather-geolocation i {
  padding: 0.5rem;
  border-radius: 50%;
  color: #e7e7eb;
  background-color: #6e707a;
}

.weather-img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(30, 33, 58, 0.8)), to(rgba(30, 33, 58, 0.8))), url(/assets/Cloud-background.png);
  background: linear-gradient(0deg, rgba(30, 33, 58, 0.8), rgba(30, 33, 58, 0.8)), url(/assets/Cloud-background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.weather-img-box img {
  width: 150px;
  height: 175px;
}

.weather-last-box > * {
  padding: 10px;
}

.weather-last-box h3 i {
  margin-right: 10px;
}

.forcast-display {
  padding: 52px 25px;
  background-color: #100e1d;
}

.forcast-card {
  color: #e7e7eb;
  background-color: #1e213a;
  width: 120px;
  padding: 10px;
}

.forcast-card > * {
  padding: 10px 0;
}

.forcast-card img {
  display: block;
  text-align: center;
  width: 56.44px;
  height: 62px;
}

.detailed-display {
  background-color: #100e1d;
}

.detailed-display h1 {
  text-align: left;
  font-size: 24px;
  font-weight: 500;
  padding: 1rem 0;
}

.highlight {
  padding: 36px;
  background-color: #1e213a;
}

.humidity-numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 229px;
  color: #a09fb1;
  margin-bottom: 5px;
  font-size: 12px;
  font-weight: 700;
}

.humidity-bar {
  width: 229px;
  background-color: #a09fb1;
  position: relative;
  height: 8px;
  border-radius: 80px;
}

.humidity-bar::after {
  position: relative;
  content: "%";
  font-size: 12px;
  font-weight: 700;
  width: 10px;
  height: 14px;
  right: -219px;
  bottom: -6px;
  color: #a09fb1;
}

.humidity-fill {
  -webkit-transition: width 5s ease-in;
  transition: width 5s ease-in;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 10%;
  border-radius: 80px;
  background-color: #ffec65;
}
/*# sourceMappingURL=style.css.map */