@import "resets";
@import "layout";
@import "utilities";

.weather-nav-display {
    display: none;
    padding: 60px 12px;
    background-color: $secondary-bg;
    .nav-form {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 12px;
        // width: px;
        input {
            // height: 48px;
            padding-left: 5px;
            color: $font-primary-color;
            width: 86px;
            height: 48px;
            border: 1px $font-primary-color solid;
            outline: none;
            background-color: $secondary-bg;
            &::placeholder {
                padding-left: 15px;
                color: #616475;
            }
            outline: $font-secondary-color;
            flex-grow: 1;
        }
        button {
            border: none;
            outline: none;
            height: 48px;
            width: 86px;
            color: $font-primary-color;
            background-color: $serach-btn;
        }
    }
}

.weather-nav-show {
    display: block;
    position: relative;
}

#close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
}
.weather-box {
    padding: 18px 11px;
}
.weather-display {
    background-color: $secondary-bg;
}

.weather-location {
    padding: 0.5rem;
    background-color: $box-color;
    a {
        color: $font-primary-color;
    }
}
.weather-geolocation {
    i {
        padding: 0.5rem;
        border-radius: 50%;
        color: $font-primary-color;
        background-color: $box-color;
    }
}

.weather-img-box {
    display: flex;
    justify-content: center;
    align-items: center;
    // min-height: 100%;
    // background: linear-gradient(0deg, rgba(30, 33, 58, 0.8), rgba(30, 33, 58, 0.8)), url(/assets/Cloud-background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    img {
        width: 150px;
        height: 175px;
    }
}
.weather-last-box {
    & > * {
        padding: 10px;
    }
    h3 {
        i {
            margin-right: 10px;
        }
    }
}
.weather-unit-display {
    background-color: $primary-bg;
    padding: 42px 123px;
    height: fit-content;
    // height: 40px;
    .unit {
        background: $primary-bg;
        input {
            position: relative;
            appearance: none;
            margin-right: 0.5rem;
            display: block;
            width: 40px;
            height: 40px;
            outline: none;
            border-radius: 50px;
            padding: 5px;
            font-weight: bold;
            background-color: #585676;
            color: white;
            &:checked {
                color: $primary-bg;
                background-color: $font-primary-color;
            }
            &:first-child::before {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                content: "°C";
                color: #110e3c;
                font-size: 18px;
                font-weight: 700;
            }
            &:last-child::before {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                content: "°F";
                color: #110e3c;
                font-size: 18px;
                font-weight: 700;
            }
        }
    }
}
.forcast-display {
    width: 70%;
    margin: 0 auto;
    width: fit-content;
    padding: 52px 123px;
    background-color: $primary-bg;
}
.forcast-card {
    color: $font-primary-color;
    background-color: $secondary-bg;
    width: 120px;
    padding: 10px;
}

.forcast-card {
    & > * {
        padding: 10px 0;
    }
    img {
        display: block;
        text-align: center;
        // margin: 0 auto;
        width: 56.44px;
        height: 62px;
    }
}
.detailed-display {
    margin: 0 auto;
    padding: 20px 123px;
    background-color: $primary-bg;
    h1 {
        text-align: left;
        font-size: 24px;
        font-weight: 500;
        padding: 1rem 0;
    }
}

.highlight {
    padding: 26px;
    background-color: $secondary-bg;
}

.humidity-numbers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    color: $font-secondary-color;
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: 700;
}
.humidity-bar {
    width: 70%;
    background-color: $font-secondary-color;
    position: relative;
    height: 8px;
    border-radius: 80px;
    &::after {
        position: absolute;
        content: "%";
        font-size: 12px;
        font-weight: 700;
        width: 10px;
        height: 14px;
        right: 0px;
        bottom: -15px;
        color: $font-secondary-color;
    }
}
.humidity-fill {
    transition: width 5s ease-in;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 10%;
    border-radius: 80px;
    background-color: $slider-color;
    // z-index: 5;
}

@import "mediaqueries";
